/* -- GENERAL -- */

@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-primary-color: #211f24;
    --text-primary-color: #e6e6e6;
    --primary-accent-color: #7216a0;
    --dark-primary-accent-color: #6f378b;
    --secondary-accent-color: #80c5ff;
    --dark-secondary-accent-color: #204a64;

    --button-hover-background: #ebd7f5;
    --button-hover-text: #7700b3;

    --link-hover-color: #aef6d3;
    --header-footer-overlay: none;
    --fieldset-background-color: #2d272e;
    --soft-overlay: rgba(255, 255, 255, 0.05);

    --gray-secondary-color: #424242;
    --input-placeholder-color: #7e7e7e;
    --pale-blue-accent-color: #bbe1ff;
    --green-accent-color: #aef6d3;
    --dark-green-accent-color: #496F5D;
    --background-image: linear-gradient(var(--background-primary-color), var(--background-primary-color));
}

[data-theme="light"] {
    --background-primary-color: rgb(209, 198, 179);
    --text-primary-color: #211E23;
    --primary-accent-color: #880000;
    --dark-primary-accent-color: #880000;
    --secondary-accent-color: #fcf9d4;
    --dark-secondary-accent-color: #642020;

    --button-hover-background: #fcf9d4;
    --button-hover-text: #880000;
    --fieldset-background-color: rgb(218, 204, 179);
    --soft-overlay: rgba(255, 255, 255, 0.1);
    
    --link-hover-color: #006e5c;
    --header-footer-overlay: rgba(209, 198, 179, 0.6);
    --background-image: url("/src/assets/marble.jpg");
}

* {
    box-sizing: border-box;
}

/* -- LAYOUT -- */

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    background-color: var(--background-primary-color);
    background-blend-mode: multiply;
    background-image: url("/src/assets/marble.jpg");
    color: var(--text-primary-color);
    font-family: "Amarante", serif;
    align-items: center;
    min-height: 100vh;
}

nav,
footer {
    background-color: var(--header-footer-overlay);
    background-blend-mode: darken;
    background-image: var(--background-image);
}

#root {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0.5em 1.5em;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

footer {
    min-width: 100%;
    padding: 1em 10em;
    text-align: center;
    margin-top: auto;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
}

.whats-new-content {
    padding: 1em;
    border-top: 2px solid var(--dark-primary-accent-color);
    width: 100%;
    background-color: var(--header-footer-overlay);
}

footer p {
    margin: 0;
}

footer a {
    font-size: 0.75rem;
    text-decoration:underline;
}

.nav-links {
    margin: 0; /* 20px */
    display: flex; /* change to flex */
    /* flex-direction: column; */
    align-items: center;
    /* text-align: center; */
    list-style: none;
    gap: 1.875em; /* 30px */
    grid-column: span 3;
    padding: 0;
}

.submenu {
    list-style: none;
    display: flex;
    padding: 0.75em 1.25em 0;
    margin: 0;
}

.submenu * {
   padding: 0.75em 1.25em;
}

.creation-outlet-div {
    padding: 1em 2em;
    margin-bottom: 1em;
}

.radio-class-selection {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
}

.radio-score-selection {
    display: flex;
    position: relative;
}

.radio-score-selection input[type="radio"],
.radio-class-selection input[type="radio"] {
    opacity: 0; 
    position: absolute;
    top: 0;
    left: 0;
}

.radio-score-selection label,
.radio-class-selection label {
    display: flex;
    font-size: 1.1rem;
    border-radius: 7px; 
    border: 1px solid var(--gray-secondary-color);
    padding: 3px 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.radio-score-selection input[type="radio"]:checked + label,
.radio-class-selection input[type="radio"]:checked + label {
    background-color: var(--secondary-accent-color);
    border: 1px solid whitesmoke;
    color: #211E23;
    transition: background-color 0.4s ease-in-out;
}

.score-method-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: "Roboto", sans-serif;
    height: 70%;
}

.score-method-container button {
    margin-top: auto;
}

.class-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.class-info {
    min-width: 250px;
    border-left: 1px solid var(--gray-secondary-color);
    padding-left: 1.5em;
    text-align: left;
}

.class-info p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-left: 1em;
    text-indent: -1em;
}

.status-of-creation {
    margin-top: auto;
    display: flex;
    gap: 7px;
    align-items: start;
    justify-content: flex-end;
}

.status-of-creation button {
    margin: 0 0 0 25px;
}

.status-of-creation span {
    background-color:  var(--soft-overlay);
    padding: 0.2em 0.8em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.status-of-creation .complete {
    background-color: var(--dark-green-accent-color);
    color: whitesmoke;
}

.status-of-creation .complete i {
    color: rgb(1, 218, 1);
}

#register-container,
#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    box-sizing: border-box;
    height: auto;
    margin: 0 0.625em; /* 10px */
    padding: 0.9375em; /* 15px */
    background: linear-gradient(var(--background-primary-color), var(--background-primary-color)) padding-box,
                linear-gradient(var(--secondary-accent-color), var(--primary-accent-color)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
}

#register-container button,
#login-container button {
    align-self: center;
    width: 250px;
}

#characters-main-page,
#character-sheet-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#characters-main-page div:first-of-type {
    padding: 1em;
}

#characters-main-page div h2 {
    margin: 0 0 1em;
}

main {
    margin-top: 6em; /* 80px */
    margin-bottom: 1.25em; /* 20px */
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    height: 100%;
    min-width: 300px;
    max-width: 1000px;
}

#search-results {
    width: 80%;
    margin-bottom: 2em;
    padding: 1em 2em;
}

.search-result-item {
    border-bottom: 2px solid var(--dark-primary-accent-color);
    padding: 0.75em;
    cursor: pointer;
}

.search-result-details {
    font-family: "Roboto", sans-serif;
}

.search-result-details p {
    margin: 0 0 1em;
}

.search-result-details ul {
    padding-left: 15px;
    list-style: none;
}

.search-result-details h4 {
    margin: 0.6em 0 0.4em;
}

.search-result-details span {
    font-weight: normal;
}

#profile-link-div {
    position: relative;
    display: inline-block;
    padding: 1em;
    background: linear-gradient(transparent, var(--secondary-accent-color));
}

#profile-link-div span {
    font-size: 1em;
}

#profile-dropdown-menu {
    position: absolute;
    display: none;
    right: 0;
    padding: 1em;
    width: 200px;
    margin-top: 1em;
    border: 2px solid var(--secondary-accent-color);
    gap: 1em;
}

#profile-dropdown-menu button {
    margin: 0;
}

#profile-link-div:hover #profile-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-primary-color);
}

#profile-content-div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
}

#splash-page {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#splash-page .flex-column {
    justify-content: center;
    align-items: flex-start;
}

#splash-page h1 {
    font-size: 4.2rem;
    max-width: 600px;
    margin: 10px 0 0.5em;
}

#splash-page h2 {
    margin: 0;
}

#splash-page h3 {
    margin: 0;
}

.selection-detail {
    background-color: var(--gray-secondary-color);
    color: whitesmoke;
    padding: 1em;
    margin: 0 15px;
    font-size: 0.75rem;
    font-family: "Roboto", sans-serif;
}

.ability-score-grid {
    min-width: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    margin-bottom: 1em;
    gap: 1rem;
    border-left: 1px solid var(--gray-secondary-color);
    padding-left: 1.5em;
}

.ability-score-selection-div {
    display: flex;
    padding: 0;
    gap: 3px;
    margin: 4px 0;
    font-family: "Roboto", sans-serif;
}

.ability-score-selection-div button {
    padding: 0;
    margin: 0;
    font-weight: normal;
    border-radius: 0;
    background-color: var(--gray-secondary-color);
    width: 30px;
    height: 30px;
    color: var(--secondary-accent-color);
}

.ability-score-selection-div button:disabled {
    opacity: 0.4;
    color: black;
    text-decoration: line-through;
    pointer-events: none;
}

.div-disabled button {
    opacity: 0.4;
    pointer-events: none;
    color: black;
}

.point-cost-selection-div {
    display: flex;
    gap: 5px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.point-cost-selection-div button {
    padding: 0.15em 0.5em;
    font-family: inherit;
    font-size: 1.25rem;
    margin: 0;
}

.point-cost-selection-div span {
    margin: auto auto;
    padding: 0.15em 0.5em;
    font-size: 1.25rem;
    border: 1px solid var(--dark-primary-accent-color);
    border-radius: 5px;
}

.points-available {
    padding: 0.4em 0.6em;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid var(--dark-primary-accent-color);
    border-radius: 5px;
    color: var(--dark-primary-accent-color);
    background-color: var(--secondary-accent-color);
}

.ability-score-container {
    border: 1px solid var(--gray-secondary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 10px 20px;
    background-color: var(--soft-overlay);  
}

.ability-score-container h3 {
    margin: 0;
}

.ability-score-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-secondary-color);
    padding-bottom: 3px;
}

.ability-score-header-container .tooltip {
    text-align: left;
}

.ability-score-display {
    background-color: var(--secondary-accent-color);
    width: 90px;
    height: 90px;
    font-weight: bold;
    color: black;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.ability-score-display h3 {
    font-size: 2rem;
    margin: 0;
}

.ability-score-display span {
    font-size: 1rem;
}

.ability-score-number {
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: -10px;
    margin: 0 0;
    width: 40px;
    padding: 2px;
}

.character-sheet {
    padding: 1em;
}

/* -- INTERACTIVE COMPONENTS -- */

button,
.btn-lookalike {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--dark-primary-accent-color);
    border: none;
    border-radius: 5px;
    padding: 0.625em 1.25em; /* 10px 20px */
    margin-bottom: 0.625em; /* 10px */
}

.btn-lookalike:hover,
.btn-lookalike:active,
button:hover,
button:active {
    background-color: var(--button-hover-background);
    color: var(--button-hover-text);
    box-shadow: 0 0 5px var(--primary-accent-color);
}

.btn-alt {
    background-color: var(--gray-secondary-color);
    border: 1px solid var(--gray-secondary-color);
}

.btn-alt:hover,
.btn-alt:active {
    background-color: var(--gray-secondary-color);
    color: var(--green-accent-color);
    box-shadow: none;
    border: 1px solid var(--dark-green-accent-color);
}

#theme-toggle-btn {
    border-radius: 50%;
    padding: 0.5em;
    margin: 0;
}

.hamburger {
    display: none; /* change to block */
    font-size: 2rem;
    background-color: var(--background-primary-color);
    padding: 0.2em 0.2em;
    margin: auto;
}

.hamburger:hover {
    background-color: var(--gray-secondary-color);
    color: whitesmoke;
    box-shadow: none;
}

a {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 1.125rem; /* 18px */
}

a:hover,
a:active {
    color: var(--link-hover-color);
}

.active-link {
    border-bottom: 2px solid var(--link-hover-color);
    color: var(--link-hover-color);
    border-radius: 5px;
}

.submenu-active-link {
    background-color: var(--secondary-accent-color);
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.25em; /* 4px */
}

fieldset {
    border: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0.5em;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder {
    color: var(--input-placeholder-color);
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
    width: 250px;
    margin-bottom: 0.625em; /* 10px */
    background-color: var(--gray-secondary-color);
    border: 2px solid var(--dark-secondary-accent-color);
    border-radius: 10px;
    padding: 0.5em 0.75em;
    color: whitesmoke;
}

input[type="radio"] {
    margin-right: 0.5em;
}

legend {
    text-decoration: underline;
    margin-bottom: 0.5em;
}

select,
input[type="search"] {
    min-width: 250px;
    width: 100%;
}

input:focus {
    outline: none;
}

#login-form,
#register-form {
    margin-bottom: 1em;
    flex-direction: column;
}

#search-filters fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1em;
}

.tooltip {
    cursor: pointer;
    position: relative;
    color: var(--dark-primary-accent-color);
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: var(--gray-secondary-color);
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    padding: 8px;
    width: 250px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.character-sheet-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 80%;
}

/* -- TYPOGRAPHY -- */

#hero-title,
#nav-title,
.title-glow {
    background-image: linear-gradient(white 10%, var(--secondary-accent-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px var(--primary-accent-color));
    margin: 0;
    padding: 0;
}

#hero-title {
    line-height: 80%;
    font-size: 5rem;
}

#nav-title {
    font-size: 2rem;
    margin-left: 15px;
}

#register-container h2 {
    max-width: 250px;
}

#profile-content-div h2 {
    margin: 0 0 1em;
}

#profile-content-div p {
    margin: 0 0 10px;
}

legend {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--background-primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--dark-secondary-accent-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.saved-character {
    border: 1px solid var(--dark-secondary-accent-color);
    border-radius: 5px;
    margin-bottom: 0.6em;
}

.saved-character:hover {
    background-color: var(--soft-overlay);
    box-shadow: 0 0 5px var(--dark-secondary-accent-color);
    cursor: pointer;
}

.saved-character-summary {
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

.saved-character-summary h3 {
    font-family: "Amarante", serif;
    margin: 0 0 10px;
}

.saved-character-summary p {
    margin: 0 0 5px;
}

.unselected {
    font-style: italic;
    opacity: 50%;
}

.fa-pen-to-square {
    opacity: 60%;
    padding: 0 5px;
}

.fa-pen-to-square:hover {
    opacity: 90%;
}

/* -- IMAGES -- */

#nav-logo {
    height: 60px;
    padding: 5px;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    border: 3px solid var(--dark-primary-accent-color);
    border-radius: 50%;
    height: 125px;
    width: 125px;
    color: var(--gray-secondary-color);
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
}

.saved-character-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.saved-character-image i {
    padding: 0;
    margin: 0;
    font-size: 6rem;
    color: var(--dark-primary-accent-color)
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-icon {
    margin: 1em;
    font-size: 2rem;
    color: var(--text-primary-color);
    /* Apply the animation */
    animation: spin 1s linear infinite;
    /* Ensure the rotation is around the center of the icon */
    transform-origin: center;
    /* Optional: display as inline-block for proper alignment */
    display: inline-block;
}

/* -- UTILITY -- */

.gradient-border {
    background: linear-gradient(var(--background-primary-color), var(--background-primary-color)) padding-box,
            linear-gradient(var(--secondary-accent-color), var(--primary-accent-color)) border-box;
    border-radius: 15px;
    border: 1px solid transparent;
}

.bold {
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 100%;
}

.fieldset-container {
    display: flex;
    flex-direction: column;
    background-color: var(--soft-overlay);
    border: 1px solid var(--dark-secondary-accent-color);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.fieldset-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--soft-overlay);
    border: 1px solid var(--dark-secondary-accent-color);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}