/* -- IMPORTED CSS STYLES -- */
@import "./utilities.css";
@import "./variables.css";
@import "./typography.css";

@import "./pages/compendium.css";
@import "./pages/character-sheet.css";
@import "./pages/character-creation.css";
@import "./pages/search.css";
@import "./pages/splash.css";

@import "./components/buttons.css";
@import "./components/collapsible.css";
@import "./components/forms.css";
@import "./components/tooltip.css";
@import "./components/tables.css";
@import "./components/images.css";
@import "./components/ability_score.css";

@import "./layout/footer.css";
@import "./layout/navigation.css";

/* -- BASE -- */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    background-color: var(--background-primary-color);
    background-blend-mode: multiply;
    background-image: url("/marble.jpg");
    color: var(--text-primary-color);
    font-family: "Amarante", serif;
    align-items: center;
    min-height: 100vh;
}

#root {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

main {
    margin-top: 6em;
    margin-bottom: 1.25em; 
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    height: 100%;
    min-width: 300px;
    max-width: 1000px;
}

#register-container,
#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    box-sizing: border-box;
    height: auto;
    margin: 0 0.625em; 
    padding: 0.9375em; 
    background: linear-gradient(var(--background-primary-color), var(--background-primary-color)) padding-box,
                linear-gradient(var(--secondary-accent-color), var(--primary-accent-color)) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
}

#register-container button,
#login-container button {
    align-self: center;
    width: 250px;
}

#characters-main-page,
#character-sheet-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#characters-main-page div:first-of-type {
    padding: 1em;
}

#characters-main-page div h2 {
    margin: 0 0 1em;
}

#profile-content-div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
}

.div-disabled button {
    opacity: 0.4;
    pointer-events: none;
    color: black;
}

.title-back-btn-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

/* -- ANIMATION -- */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-icon {
    margin: 1em;
    font-size: 2rem;
    color: var(--text-primary-color);
    /* Apply the animation */
    animation: spin 1s linear infinite;
    /* Ensure the rotation is around the center of the icon */
    transform-origin: center;
    /* Optional: display as inline-block for proper alignment */
    display: inline-block;
}

button .spinning-icon {
    margin: 0;
}